<div class="container">
    <h3 class="text-center">Разгледай нашите най-нови предложения</h3>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <img src="https://imgs.michaels.com/MAM/assets/1/726D45CA1C364650A39CD1B336F03305/img/893E44B4248847338CD88E85BD79D361/10186027_r.jpg?fit=inside|540:540"
                    alt="Denim Jeans" style="width:100%">
                <h3>Тъпа тениска</h3>
                <p class="price">25.00 лв.</p>
                <p>Малко текст за самия продукт</p>
                <p><a class="btn btn-outline-dark" [routerLink]='["/"]'>Виж повече</a></p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="https://imgs.michaels.com/MAM/assets/1/726D45CA1C364650A39CD1B336F03305/img/893E44B4248847338CD88E85BD79D361/10186027_r.jpg?fit=inside|540:540"
                    alt="Denim Jeans" style="width:100%">
                <h3>Тъпа тениска</h3>
                <p class="price">25.00 лв.</p>
                <p>Малко текст за самия продукт</p>
                <p><a class="btn btn-outline-dark" [routerLink]='["/"]'>Виж повече</a></p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="https://imgs.michaels.com/MAM/assets/1/726D45CA1C364650A39CD1B336F03305/img/893E44B4248847338CD88E85BD79D361/10186027_r.jpg?fit=inside|540:540"
                    alt="Denim Jeans" style="width:100%">
                <h3>Тъпа тениска</h3>
                <p class="price">25.00 лв.</p>
                <p>Малко текст за самия продукт</p>
                <p><a class="btn btn-outline-dark" [routerLink]='["/"]'>Виж повече</a></p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="https://imgs.michaels.com/MAM/assets/1/726D45CA1C364650A39CD1B336F03305/img/893E44B4248847338CD88E85BD79D361/10186027_r.jpg?fit=inside|540:540"
                    alt="Denim Jeans" style="width:100%">
                <h3>Тъпа тениска</h3>
                <p class="price">25.00 лв.</p>
                <p>Малко текст за самия продукт</p>
                <p><a class="btn btn-outline-dark" [routerLink]='["/"]'>Виж повече</a></p>
            </div>
        </div>
    </div>

    <h3 class="text-center mt-5 mb-3">Горещи намаления</h3>
    <hr />
    <div class="row mb-5">
        <div class="col-md-3">
            <div class="card">
                <img src="https://imgs.michaels.com/MAM/assets/1/726D45CA1C364650A39CD1B336F03305/img/893E44B4248847338CD88E85BD79D361/10186027_r.jpg?fit=inside|540:540"
                    alt="Denim Jeans" style="width:100%">
                <h3>Тъпа тениска</h3>
                <p class="price">25.00 лв.</p>
                <p>Малко текст за самия продукт</p>
                <p><a class="btn btn-outline-dark" [routerLink]='["/"]'>Виж повече</a></p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="https://imgs.michaels.com/MAM/assets/1/726D45CA1C364650A39CD1B336F03305/img/893E44B4248847338CD88E85BD79D361/10186027_r.jpg?fit=inside|540:540"
                    alt="Denim Jeans" style="width:100%">
                <h3>Тъпа тениска</h3>
                <p class="price">25.00 лв.</p>
                <p>Малко текст за самия продукт</p>
                <p><a class="btn btn-outline-dark" [routerLink]='["/"]'>Виж повече</a></p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="https://imgs.michaels.com/MAM/assets/1/726D45CA1C364650A39CD1B336F03305/img/893E44B4248847338CD88E85BD79D361/10186027_r.jpg?fit=inside|540:540"
                    alt="Denim Jeans" style="width:100%">
                <h3>Тъпа тениска</h3>
                <p class="price">25.00 лв.</p>
                <p>Малко текст за самия продукт</p>
                <p><a class="btn btn-outline-dark" [routerLink]='["/"]'>Виж повече</a></p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="https://imgs.michaels.com/MAM/assets/1/726D45CA1C364650A39CD1B336F03305/img/893E44B4248847338CD88E85BD79D361/10186027_r.jpg?fit=inside|540:540"
                    alt="Denim Jeans" style="width:100%">
                <h3>Тъпа тениска</h3>
                <p class="price">25.00 лв.</p>
                <p>Малко текст за самия продукт</p>
                <p><a class="btn btn-outline-dark" [routerLink]='["/"]'>Виж повече</a></p>
            </div>
        </div>
    </div>
</div>