<div class="wrapper">
  <div class="inner">
    <h3 class="font-weight-bold text-center dark-grey-text">Добавяне на продукт</h3>
    <div class="container my-5 py-5 z-depth-2">
      <div class="row justify-content-center">
        <form [formGroup]="form">
          <div class="form-group">
            <label for="name" class="font-weight-bold text-center dark-grey-text">Име</label>
            <input type="text" formControlName="name" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Името е задължително</div>
            </div>
          </div>
          <div class="form-group">
            <label for="description" class="font-weight-bold text-center dark-grey-text">Описание</label>
            <textarea rows="4" cols="50" type="text" formControlName="description" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
              </textarea>
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
              <div *ngIf="f.description.errors.required">Описанието е задължително</div>
            </div>
          </div>
          <div class="form-group">
            <label for="price" class="font-weight-bold text-center dark-grey-text">Цена</label>
            <input type="number" formControlName="price" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
            <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
              <div *ngIf="f.price.errors.required">Цената е задължителна</div>
            </div>
          </div>
          <div class="form-group">
            <label for="categoryName" class="font-weight-bold text-center dark-grey-text">Категория</label>
            <input type="text" formControlName="categoryName" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.categoryName.errors }" />
            <div *ngIf="submitted && f.categoryName.errors" class="invalid-feedback">
              <div *ngIf="f.categoryName.errors.required">Категорията е задължителна</div>
            </div>
          </div>
          <div class="form-group">
            <label for="categoryType" class="font-weight-bold text-center dark-grey-text">Подкатегория</label>
            <input type="text" formControlName="categoryType" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.categoryType.errors }" />
            <div *ngIf="submitted && f.categoryType.errors" class="invalid-feedback">
              <div *ngIf="f.categoryType.errors.required">Подкатегорията е задължителна</div>
            </div>
          </div>
          <div class="form-group">
            <!-- <label for="sizes" class="font-weight-bold text-center dark-grey-text">Размери</label> -->
            <div formArrayName="sizes">
              <div [formGroupName]="i" class="mt-3" *ngFor="let size of sizes.controls; let i=index">
                <div class="row">
                  <div class="col-6">
                    <input type="text" class="form-control" formControlName="name" placeholder="Напишете размер" />
                  </div>
                </div>

              </div>
              <div>
                <button class="btn btn-dark" (click)="addSizes()">Добави размер</button>
              </div>
            </div>
          </div>

          <div class="form-group">
            <!-- <label for="colors" class="font-weight-bold text-center dark-grey-text">Цветове</label> -->
            <div formArrayName="colors">
              <div [formGroupName]="i" class="mt-3" *ngFor="let color of colors.controls; let i=index">
                <div class="row">
                  <div class="col-6">
                    <input type="text" class="form-control" formControlName="name" placeholder="Напишете цвят" />
                  </div>
                </div>
              </div>
              <div>
                <button class="btn btn-dark" (click)="addColors()">Добави цвят</button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button (click)="onSubmit()" [disabled]="loading" class="btn btn-dark">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Създай
            </button>
            <a routerLink="/home" class="btn btn-light">Отказ</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>