<div class="row">
    <div class="col-md-12">


        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 col-md-12">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
                    <h3 class="font-weight-bold text-center dark-grey-text">Избери категория</h3>
                    <!-- <span class="navbar-toggler-icon"></span> -->
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex" [ngClass]="{ show: isExpanded }">
                    <ul class="navbar-nav">
                        <!-- <h3 class="font-weight-bold text-center dark-grey-text">Категории</h3> -->
                        <li (click)="toggle()" class="nav-item" [routerLinkActive]="['link-active']"
                            [routerLinkActiveOptions]="{ exact: true }">
                            <a class="btn" (click)="getProductsBySubcategory('Бельо')">Бельо</a>
                        </li>

                        <li (click)="toggle()" class="nav-item" [routerLinkActive]="['link-active']"
                            [routerLinkActiveOptions]="{ exact: true }">
                            <a class="btn" (click)="getProductsBySubcategory('Чорапи')">Чорапи</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

<div class="row">
    <div *ngFor="let product of filteredProducts" class="col-md-3 mb-5">
        <div class="card">
            <img src="https://imgs.michaels.com/MAM/assets/1/726D45CA1C364650A39CD1B336F03305/img/893E44B4248847338CD88E85BD79D361/10186027_r.jpg?fit=inside|540:540"
                alt="Denim Jeans" style="width:100%">
            <h3>{{product.name}}</h3>
            <p class="price">{{product.price}} лв.</p>
            <p>{{product.description}}</p>
            <p><a class="btn btn-outline-dark" [routerLink]='["/products",product.id]'>Виж повече</a></p>
        </div>
    </div>
</div>