<div class="container">
    <div class="row text-center">
        <div class="col-md-12 text-center">
            <img src="../../assets/5aa78e207603fc558cffbf19.png" width="250" height="250" alt="image success">
        </div>
        <div class="col-md-12 text-center">
            <h5 class="font-weight-bold text-center dark-grey-text">Вашата поръчка е приета успешно!</h5>
            <p><button class="btn btn-outline-dark" [routerLink]="['/products']">Към началната страница</button></p>
        </div>
    </div>
</div>