
<div class="row">
    <div class="col-md-12">


        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 col-md-12">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
                    <h3 class="font-weight-bold text-center dark-grey-text">Избери категория</h3>
                    <!-- <span class="navbar-toggler-icon"></span> -->
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex" [ngClass]="{ show: isExpanded }">
                    <ul class="navbar-nav">
                        <!-- <h3 class="font-weight-bold text-center dark-grey-text">Категории</h3> -->
                        <li (click)="toggle()" class="nav-item" [routerLinkActive]="['link-active']"
                        [routerLinkActiveOptions]="{ exact: true }">
                        <a class="btn" (click)="getProductsByCategory()">Всички</a>
                        </li>
                        <li (click)="toggle()" class="nav-item" [routerLinkActive]="['link-active']"
                            [routerLinkActiveOptions]="{ exact: true }">
                            <a class="btn" (click)="getProductsBySubcategory('Якета')">Якета</a>
                        </li>

                        <li (click)="toggle()" class="nav-item" [routerLinkActive]="['link-active']"
                            [routerLinkActiveOptions]="{ exact: true }">
                            <a class="btn" (click)="getProductsBySubcategory('Чорапи')">Чорапи</a>
                        </li>

                        <li (click)="toggle()" class="nav-item" [routerLinkActive]="['link-active']"
                            [routerLinkActiveOptions]="{ exact: true }">
                            <a class="btn" (click)="getProductsBySubcategory('Блузи')">Блузи</a>
                        </li>
                        <li (click)="toggle()" class="nav-item" [routerLinkActive]="['link-active']"
                            [routerLinkActiveOptions]="{ exact: true }">
                            <a class="btn" (click)="getProductsBySubcategory('Ризи')">Ризи</a>
                        </li>
                        <li (click)="toggle()" class="nav-item" [routerLinkActive]="['link-active']"
                            [routerLinkActiveOptions]="{ exact: true }">
                            <a class="btn" (click)="getProductsBySubcategory('Гащеризони')">Гащеризони</a>
                        </li>
                        <li (click)="toggle()" class="nav-item" [routerLinkActive]="['link-active']"
                            [routerLinkActiveOptions]="{ exact: true }">
                            <a class="btn" (click)="getProductsBySubcategory('Палта')">Палта</a>
                        </li>
                        <li (click)="toggle()" class="nav-item" [routerLinkActive]="['link-active']"
                            [routerLinkActiveOptions]="{ exact: true }">
                            <a class="btn" (click)="getProductsBySubcategory('Поли')">Поли</a>
                        </li>
                        <li (click)="toggle()" class="nav-item" [routerLinkActive]="['link-active']"
                            [routerLinkActiveOptions]="{ exact: true }">
                            <a class="btn" (click)="getProductsBySubcategory('Панталони')">Панталони</a>
                        </li>
                        <li (click)="toggle()" class="nav-item" [routerLinkActive]="['link-active']"
                            [routerLinkActiveOptions]="{ exact: true }">
                            <a class="btn" (click)="getProductsBySubcategory('Потници')">Потници</a>
                        </li>
                        <li (click)="toggle()" class="nav-item" [routerLinkActive]="['link-active']"
                            [routerLinkActiveOptions]="{ exact: true }">
                            <a class="btn" (click)="getProductsBySubcategory('Туники')">Туники</a>
                        </li>
                        <li (click)="toggle()" class="nav-item" [routerLinkActive]="['link-active']"
                            [routerLinkActiveOptions]="{ exact: true }">
                            <a class="btn" (click)="getProductsBySubcategory('Шалове')">Шалове</a>
                        </li>
                        <li (click)="toggle()" class="nav-item" [routerLinkActive]="['link-active']"
                            [routerLinkActiveOptions]="{ exact: true }">
                            <a class="btn" (click)="getProductsBySubcategory('Бельо')">Бельо</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

<div class="row">
    <div *ngFor="let product of filteredProducts" class="col-md-3 mb-5">
      <div class="card">
        <img src={{product.pictures[0].url}}
             alt="Denim Jeans" style="width:100%">
        <h3>{{product.name}}</h3>
        <p class="price">{{product.price}} лв.</p>
        <p>
          <a class="btn btn-outline-dark" [routerLink]='["/products",product.id]'>Виж повече</a>
          <a *ngIf="this.isLoggedIn" class="btn btn-danger ml-2"
             (click)="deleteProduct(product.id)">Изтрий</a>

          <a *ngIf="this.isLoggedIn" class="btn btn-warning ml-2 mt-2"
             [routerLink]='["/edit-product",product.id]'>Редактирай</a>
        </p>
      </div>
    </div>
</div>
