<div class="container"  *ngIf="orders.length >= 1">
  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="font-weight-bold text-center dark-grey-text">Вашите покупки</h3>
            <div class="basket" >
                <div class="basket-labels">
                  <ul>
                    <li class="item item-heading">Продукт</li>
                    <li class="quantity">Цена</li>
                    <li class="quantity">Количество</li>
                  </ul>
                </div>
                <div class="basket-product" *ngFor="let item of orders">
                  <div class="item">
                    <div class="product-image">
                      <img src="../../assets//orange.jpg"alt="Placholder Image 2">
                    </div>
                    <div class="product-details">
                      <h1><strong><span class="item-quantity">{{item.quantity}}</span> x </strong>{{item.product.name}}</h1>
                      <p><strong>Цвят:</strong> {{item.color}}</p>
                      <p><strong>Размер:</strong> {{item.size}}</p>
                      <p>{{item.product.categoryName}} - {{item.product.categoryType}}</p>
                    </div>
                  </div>
                  <div class="price">{{item.product.price}} лв/бр.</div>
                  <div>
                    <a class="btn btn-light btn-sm" (click)="incrementQTY(item)">+</a>   
                    <a class="ml-1 mr-1">
                        {{ item.quantity }}
                    </a>
                    <a class="btn btn-light btn-sm" (click)="decrementQTY(item)">-</a>
                    <a class="ml-3"><strong>Общо:</strong> {{item.totalPrice}} лв.</a>
                  </div>

                   <div class="remove">
                    <button (click)="removeProduct(item.id, item.totalPrice)">Премахни</button>
                  </div>
                </div>
                <div class="mt-5 mb-3"><strong>Общо:</strong> {{subTotal}} лв.</div>
              </div>
              
        </div>
    </div>
</div>

<div class="container border">
    <div class="row">
        <div class="col-md-12">
            <h3 class="font-weight-bold text-center dark-grey-text">Завършване на поръчката</h3>
            <form [formGroup]="form">
                <div class="form-group">
                  <label for="firstName" class="font-weight-bold text-left dark-grey-text">Име</label>
                  <input type="text" formControlName="firstName" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                  <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.firstName.errors.required">Името е задължително</div>
                  </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="font-weight-bold text-left dark-grey-text">Фамилия</label>
                    <input type="text" formControlName="lastName" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                      <div *ngIf="f.lastName.errors.required">Фамилията е задължителна</div>
                    </div>
                  </div>
    
                  <div class="form-group">
                    <label for="phone" class="font-weight-bold text-left dark-grey-text">Телефонен номер</label>
                    <input type="text" formControlName="phone" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                    <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                      <div *ngIf="f.phone.errors.required">Тел. номер е задължителен</div>
                    </div>
                  </div>
    
                  <div class="form-group">
                    <label for="email" class="font-weight-bold text-left dark-grey-text">Имейл адрес</label>
                    <input type="text" formControlName="email" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">Имейл адреса е задължителен</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="deliveryType" class="font-weight-bold text-left dark-grey-text">Начин за доставка</label>
                              <select formControlName="deliveryType" class="form-control" id="exampleFormControlSelect1">
                                  <option value="Econt">Еконт</option>
                                  <option value="Speedy">Спиди</option>
                              </select>
                  </div>
    
                  <div class="form-group">
                    <label for="city" class="font-weight-bold text-left dark-grey-text">Град</label>
                    <input type="text" formControlName="city" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
                    <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                      <div *ngIf="f.city.errors.required">Града е задължителен</div>
                    </div>
                  </div>
    
                  <div class="form-group">
                    <label for="address" class="font-weight-bold text-left dark-grey-text">Адрес</label>
                    <input type="text" formControlName="address" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
                    <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                      <div *ngIf="f.address.errors.required">Адреса е задължителен</div>
                    </div>
                  </div>
                <div class="form-group">
                  <label for="additionalInformation" class="font-weight-bold text-left dark-grey-text">Допълнителна информация</label>
                  <textarea rows="4" cols="50" type="text" formControlName="additionalInformation" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.additionalInformation.errors }">
                    </textarea>
                </div>
                
                <div class="form-group">
                  <button (click)="onSubmit()" [disabled]="loading" class="btn btn-dark">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Изпрати
                  </button>
                  <a routerLink="/products" class="btn btn-light ml-3">Отказ</a>
                </div>
              </form>
          </div>
    </div>
</div>
</div>
<div class="container mt-5 mb-5 text-center" *ngIf="orders.length === 0">
  <h3 class="text-center">
      Вашата количка е празна!
  </h3>

  <hr />

  <p><a class="btn btn-outline-dark" [routerLink]='["/products"]'>Вижте най-новите ни предложения</a></p>


  <div>
    <a [routerLink]="['/']" class="navbar-brand">
      <img src="../../assets/0b996bbf-16d9-49d9-a96f-7a822790cf9b_200x200.png" width="120" alt="" class="d-inline-block align-middle">
    </a>
  </div>
</div>
