<section class="mb-5">

    <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">

            <div id="mdb-lightbox-ui"></div>

            <div class="mdb-lightbox">
                <div class="row product-gallery mx-5">

                    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                        <mdb-carousel-item>
                          <div class="view w-100">
                            <img src="../../assets/orange.jpg"
                                        class="img-fluid" alt="First slide">
                            <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
                          </div>
                        </mdb-carousel-item>
                        <mdb-carousel-item>
                          <div class="view w-100">
                            <img src="../../assets/red.jpg"
                                        class="img-fluid" alt="Second slide">
                            <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
                          </div>
                        </mdb-carousel-item>
                        <mdb-carousel-item>
                          <div class="view w-100">
                            <img src="../../assets/blue.webp"
                                        class="img-fluid" alt="Third slide">
                            <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
                          </div>
                        </mdb-carousel-item>
                      </mdb-carousel>
                </div>

            </div>

        </div>
        <div class="col-md-6">

            <h5>{{currentProduct.name}}</h5>
            <p class="mb-2 text-muted text-uppercase small">{{currentProduct.categoryName}} > {{currentProduct.categoryType}}</p>

            <p><span class="mr-1"><strong>{{currentProduct.price}} лв.</strong></span></p>
            <p class="pt-1">{{currentProduct.description}}</p>
            <div class="table-responsive">
                <table class="table table-sm table-borderless mb-0">
                    <tbody>
                        <tr>
                            <th class="pl-0 w-25" scope="row"><strong>Доставка</strong></th>
                            <td>Еконт, Спиди</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <div class="table-responsive mb-2">
                <table class="table table-sm table-borderless">
                    <tbody>
                        <tr>
                            <td class="pl-0 pb-0" scope="row">Цвят</td>
                            <td class="pl-0">
                                <div  class="def-number-input number-input safari_only mb-0">
                                    <select  (change)="getCurrentColor($event)" class="form-control" id="exampleFormControlSelect1">
                                        <option value="">Избери цвят</option>
                                        <option *ngFor="let color of currentProduct.colors" value="{{color.name}}">{{color.name}}</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="pl-0 pb-0">Количество</td>
                            <td class="pl-0">
                                <div class="def-number-input number-input safari_only mb-0">
                                        <a class="mr-1">
                                            {{orderPayload.quantity}}
                                        </a>
                  
                                      <button class="btn btn-light btn-sm mr-1" (click)="incrementQTY(orderPayload)">+</button>
                                      <button class="btn btn-light btn-sm ml-1" (click)="decrementQTY(orderPayload)">-</button>
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td class="pl-0 pb-0">Размер</td>
                            <td  class="pl-0">
                                <div class="mt-1">
                                    <div *ngFor="let size of currentProduct.sizes" class="form-check form-check-inline pl-0">
                                        <input (change)="getCurrentSize($event)" type="radio" value="{{size.name}}" class="form-check-input" id="large"
                                            name="materialExampleRadios">
                                        <label class="form-check-label small text-uppercase card-link-secondary"
                                            for="large">{{size.name}}</label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button type="button" class="btn btn-outline-dark btn-md mr-1 mb-2" (click)="addProductToCart(currentProduct.id, '1', orderPayload.quantity, 'orderPayload.size', 'orderPayload.color')">Добави в количката</button>
        </div>
    </div>
    
</section>